@import url('https://fonts.googleapis.com/css2?family=Barlow');

:root  { 
    --root-font-family: Barlow, Arial, Helvetica, sans-serif;
    --root-font-colour: blue;

    --header-font-family: var(--root-font-family);
    --header-bg-color: blue;

    --header-nav-bg-color: grey;

    --header-font-colour: yellow;

    --header-preferences_bg-color: lightpink;
    --header-preferences-font: var(--root-font-family);

    --header-h1-bg-color: var(--header-bg-color);
    --header-h1-font-color: var(--header-font-colour);
    --header-h1-font: var(--header-font-family);
    --header-h1-font-size: 4rem;

    --header-h2-bg-color: var(--header-bg-color);
    --header-h2-font-color: var(--header-font-colour);
    --header-h2-font: var(--header-font-family);
    --header-h2-font-size: string("2.5rem");
};



body {
    font-family: var(--root-font-family);
    font-size: 1rem;
    line-height: 1.6;
    color:black;
    width: 100%;
    box-sizing: border-box;
    display:block;

    
}

header, footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    background-color:cadetblue;
    font-family: var(--root-font-family);
    font-size: 1rem;
    line-height: 1.6;
    color:black;
}

#searchbox {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

.itemblock {
    background-color: rgba(136, 237, 255, 0.377);
    margin: 10px;
    padding: 10px;
}

#covid {
    width: 60%;
}

section > video {
    width: 100%;
}

article {
    overflow: hidden;
    position: relative;
}

article > section {
    width: 10%;
}

#content {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

#bg-image {
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
  
#content {
    position: relative;

}
nav {
    color: var(--header-font-colour);
    display: flex;
    list-style-type: none;
    white-space: nowrap;
    justify-content: flex-start;
    flex-wrap: row wrap;
    background-color: var(--header-nav-bg-color);
    padding:0;
    margin:0;
    column-gap: 1rem;
    max-width: 200px;
}

h1, h2, label, a, p, fieldset, form {
    font-family: var(--root-font-family);
}
